$color-azure: azure
$color-ligthgray: #f0f0f0
$color-default: #020202


$color-purple: purple
$color-darkmagenta: darkmagenta
$color-deeppink: deeppink
$color-magenta: magenta
$color-cornflowerblue: cornflowerblue
$color-darkturquoise: darkturquoise
$color-cyan: #00F5FF
$color-darkgray: #101010


$color-warning: moccasin
$color-danger: crimson
$color-success: mediumseagreen